@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
.App {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App .leftContainer {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: 0;
  margin: 0px;
  width: 5%;
  height: 100vh;
}

@media screen and (max-width: 600px) {
  .App .leftContainer {
    width: 10%;
  }
}

.App .rightContainer {
  margin: 0px;
  width: 95%;
  background-color: #e4e0da;
}

@media screen and (max-width: 600px) {
  .App .rightContainer {
    width: 90%;
  }
}

.App .rightContainer .topBar {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: #fff;
  z-index: 1000;
}

.App .rightContainer .bodyContainer {
  padding: 15px;
  background-color: #e4e0da;
  border-radius: 15px;
}

.App .rightContainer .bodyContainer .topBoxContainer {
  width: 100%;
  border-radius: 15px;
}

.App .rightContainer .bodyContainer .middleBoxContainer {
  width: 100%;
  border-radius: 15px;
}

.App .rightContainer .bodyContainer .bottomBoxContainer {
  width: 100%;
  border-radius: 15px;
}

@media screen and (max-width: 600px) {
  .App .rightContainer .bodyContainer .bottomBoxContainer {
    display: none;
  }
}

.leftBox {
  width: 100%;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
}

.leftBox .menu-icon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0px 25px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.leftBox .menu-icon .barOne,
.leftBox .menu-icon .barTwo,
.leftBox .menu-icon .barThree {
  width: 40%;
  height: 2px;
  background-color: black;
  margin: 2px 0px;
  border-radius: 5px;
  margin-left: 20px;
}

@media screen and (max-width: 600px) {
  .leftBox .menu-icon .barOne,
  .leftBox .menu-icon .barTwo,
  .leftBox .menu-icon .barThree {
    margin-left: 7px;
    width: 60%;
  }
}

.leftBox .menu-icon .barTwo {
  width: 20%;
}

@media screen and (max-width: 600px) {
  .leftBox .menu-icon .barTwo {
    width: 40%;
  }
}

.leftBox .menu-icon .barThree {
  width: 30%;
}

@media screen and (max-width: 600px) {
  .leftBox .menu-icon .barThree {
    width: 50%;
  }
}

.leftBox .listItems {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.leftBox .listItems i {
  font-size: 1.5vw;
  padding: 15px 0px;
}

@media screen and (max-width: 600px) {
  .leftBox .listItems i {
    font-size: 3.5vw;
  }
}

.topBox {
  padding: 0px 15px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 600px) {
  .topBox {
    padding: 0px;
  }
}

.topBox .searchContainer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topBox .searchContainer i {
  position: absolute;
  left: 4px;
}

.topBox .searchContainer input {
  padding: 4px;
  padding-left: 25px;
  border: 1px solid #464444;
  border-radius: 5px;
}

.topBox .profileContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.topBox .profileContainer .alert {
  position: relative;
  background-color: #e2e2e2;
  padding: 5px 6px;
  border-radius: 5px;
  margin-right: 5px;
}

.topBox .profileContainer .alert i {
  color: #7c7777;
}

.topBox .profileContainer .alert .dot {
  position: absolute;
  right: 7px;
  top: 7px;
  background-color: #c22242;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.topBox .profileContainer .userProfile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 5px;
}

.topBox .profileContainer .userProfile .leftItem {
  height: 25px;
}

.topBox .profileContainer .userProfile .leftItem img {
  height: 100%;
}

.topBox .profileContainer .userProfile .rightItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topBox .profileContainer .userProfile .rightItem b {
  font-size: 10px;
}

.topBox .profileContainer .userProfile .rightItem span {
  font-size: 8px;
}

.bodyTopOne {
  padding: 5px 10px;
  border-radius: 0px;
  background-color: #fff;
}

.bodyTopOne .topContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bodyTopOne .topContainer .calenderElement {
  position: relative;
}

.bodyTopOne .topContainer .calenderElement i {
  position: absolute;
  top: 2px;
  left: 3px;
  font-size: 15px;
}

.bodyTopOne .topContainer .calenderElement select {
  padding: 2px 2px 2px 20px;
  border: none;
}

.bodyTopOne .bottom_container {
  margin: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.bodyTopOne .bottom_container .block {
  width: 30%;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 15px;
}

@media screen and (max-width: 600px) {
  .bodyTopOne .bottom_container .block {
    width: 100%;
  }
}

.bodyTopOne .bottom_container .block .left__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bodyTopOne .bottom_container .block .left__block svg {
  position: relative;
  height: 150px;
  width: 150px;
}

.bodyTopOne .bottom_container .block .left__block svg circle,
.bodyTopOne .bottom_container .block .left__block svg .circleTwo,
.bodyTopOne .bottom_container .block .left__block svg .circleThree {
  width: 150px;
  height: 150px;
  fill: none;
  stroke-width: 10;
  stroke: #000;
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.bodyTopOne .bottom_container .block .left__block svg circle:nth-child(1),
.bodyTopOne .bottom_container .block .left__block svg .circleTwo:nth-child(1),
.bodyTopOne .bottom_container .block .left__block svg .circleThree:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #f3f3f3;
}

.bodyTopOne .bottom_container .block .left__block svg circle:nth-child(2),
.bodyTopOne .bottom_container .block .left__block svg .circleTwo:nth-child(2),
.bodyTopOne .bottom_container .block .left__block svg .circleThree:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 87) / 100);
  stroke: #03a9f4;
}

.bodyTopOne .bottom_container .block .left__block svg .circleTwo:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 32) / 100);
  stroke: #571a74;
}

.bodyTopOne .bottom_container .block .left__block svg .circleThree:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 32) / 100);
  stroke: #19af21;
}

.bodyTopOne .bottom_container .block .left__block .number {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bodyTopOne .bottom_container .block .left__block .violet__dot {
  position: absolute;
  bottom: 8px;
  left: 10px;
  width: 10px;
  height: 10px;
  background-color: darkslateblue;
  border-radius: 50%;
}

.bodyTopOne .bottom_container .block .left__block .green__dot {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 12px;
  height: 12px;
  background-color: #5ac55a;
  border-radius: 50%;
}

.bodyTopOne .bottom_container .block .right__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bodyTopOne .bottom_container .block .right__block p {
  color: #a8a0a0;
}

.middle__container {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
}

@media screen and (max-width: 600px) {
  .middle__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.middle__container .left__container {
  border-radius: 15px;
  width: 45%;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 600px) {
  .middle__container .left__container {
    width: 100%;
  }
}

.middle__container .left__container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  font-size: medium;
}

.middle__container .left__container .contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
}

.middle__container .left__container .contents progress {
  width: 90%;
}

.middle__container .left__container .contents .block {
  width: 45%;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 5px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .middle__container .left__container .contents .block {
    width: 100%;
  }
}

.middle__container .left__container .contents .block .left_side {
  padding: 5px;
}

.middle__container .left__container .contents .block .left_side img {
  height: 65px;
  border-radius: 5px;
}

.middle__container .left__container .contents .block .right_side {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.middle__container .right__container {
  border-radius: 15px;
  width: 45%;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 600px) {
  .middle__container .right__container {
    width: 100%;
  }
}

.middle__container .right__container .top_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  font-size: medium;
}

.middle__container .right__container .body_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.middle__container .right__container .body_container .left,
.middle__container .right__container .body_container .right {
  width: 33.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 600px) {
  .middle__container .right__container .body_container .left,
  .middle__container .right__container .body_container .right {
    width: 100%;
  }
}

.middle__container .right__container .body_container .left .header,
.middle__container .right__container .body_container .right .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  font-size: medium;
}

.middle__container .right__container .body_container .left .contents,
.middle__container .right__container .body_container .right .contents {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 15px;
  margin: 5px 0px;
}

.middle__container .right__container .body_container .left .contents progress,
.middle__container .right__container .body_container .right .contents progress {
  width: 90%;
}

.middle__container .right__container .body_container .middle {
  width: 33.3%;
}

@media screen and (max-width: 600px) {
  .middle__container .right__container .body_container .middle {
    width: 100%;
  }
}

.middle__container .right__container .body_container .middle img {
  width: 100%;
}

.bottom__container {
  background-color: #fff;
  padding: 10px;
}

.bottom__container .table_container {
  border-radius: 15px;
  padding: 10px;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bottom__container .table_container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  font-size: medium;
}

.bottom__container .table_container .table__container table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.bottom__container .table_container .table__container table tr th {
  padding: 2px 0px;
}

.bottom__container .table_container .table__container table tr td {
  padding: 2px 0px;
  text-align: center;
}

.bottom__container .table_container .table__container table tr .color {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #129212;
  margin-right: 2px;
}

.bottom__container .table_container .table__container table tr .toggle {
  width: 10px;
}

.bottom__container .table_container .table__container table tr .toggle img {
  width: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Poppins;
}
/*# sourceMappingURL=global.css.map */